.card {
  position: relative;
  border: 1px solid #d3d3f3;
  border-radius: 40px;
  padding: 30px 20px 20px 20px;
  width: 210px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;

  .images {
    cursor: pointer;
  }

  // cursor: pointer;

  .plus {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }


  &:hover {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
    top: 15px;

  }

  .edit {
    position: absolute;
    cursor: pointer;
    left: 70px;
    top: 18px;

  }

  .deleted {
    position: absolute;
    cursor: pointer;
    left: 110px;
    top: 21px;


  }

  .cardBotton {
    display: flex;
    justify-content: space-between;
  }

  .cardPrice {
    display: flex;
  }

  .cardPrice>span {
    text-transform: uppercase;
  }

  .button {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  .cardDescription {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}