//cards
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.cardsAdded {
    padding: 15px;
    text-align: right;
    margin-bottom: 25px;
}

.added {
    cursor: pointer;
    display: inline-block;
}