//draver 

.draver {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;

    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);

    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;

    .greenButton {
        position: relative;

        &:hover {
            img {
                transform: translateX(5px);
                -webkit-transform: translateX(5px);
                -moz-transform: translateX(5px);
                -ms-transform: translateX(5px);
                -o-transform: translateX(5px);
            }
        }

        img {
            position: absolute;
            right: 30px;
            top: 22px;
            transition: transform 0.2s ease-in-out;
            -webkit-transition: transform 0.2s ease-in-out;
            -moz-transition: transform 0.2s ease-in-out;
            -ms-transition: transform 0.2s ease-in-out;
            -o-transition: transform 0.2s ease-in-out;
        }
    }

    h2 {
        margin: 0;
        font-size: 24px;
        display: flex;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }

    .cart_items {
        flex: 1;
        overflow: auto;
        margin-bottom: 40px;
    }
}

.draverOpend {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
}




//******************************cartTotalBlock**********************

.cartTotalBlock {
    margin-bottom: 24px;

    li {
        display: flex;
        align-items: flex-end;
        top: -4px;
        margin: 0 7px;
        margin-bottom: 20px;
    }

    div {
        flex: 1;
        height: 1px;
        border: 1px dashed #dfdfdf;
    }

}